.header {
  padding: 28px 0;
  height: 117px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__mobile-btn {
    display: none;
  }

  &__info,
  &__controls {
    display: flex;
    align-items: center;
  }

  &__navbar {
    margin-left: 76px;
  }

  &__menu {
    display: flex;

    &-item + &-item {
      margin-left: 42px;
    }

    &-link {
      font-weight: 700;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        margin: auto;
        bottom: -5px;
        right: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $white;
        transition: width .2s ease;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }

  &__navbar-controls {
    display: none;
  }

  &__phone {
    width: 74px;
    height: 100%;
    border: 1px solid $white;
    transform: skewX(-17deg);
    position: relative;
    opacity: .4;
    transition: opacity .2s ease;

    &-wrap {
      padding: 0 10px;
      height: 60px;
    }

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url('../../img/icons/phone.svg');
      transform: skewX(17deg);
    }
  }

  &__btn-wrap {
    margin-left: 12px;
  }
}

@media (max-width: 1620px) {
  .header {
    &__navbar {
      margin-left: 40px;
    }

    &__menu-item + &__menu-item {
      margin-left: 20px;
    }
  }
}

@media (max-width: 1460px) {
  .header {
    &__navbar {
      position: absolute;
      top: 117px;
      left: 0;
      margin-left: 0;
      height: calc(100vh - 117px); /* Fallback for browsers that do not support Custom Properties */
      height: calc((var(--vh, 1vh) * 100) - 117px);
      background-color: $dark;
      width: 100%;
      display: none;

      z-index: 10;
      opacity: 0;
      transition: opacity .3s ease;



      &._showed {
        display: flex;
      }

      &._show {
        opacity: 1;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: calc(100% - 1px);
        width: 100%;
        height: 500px;
        background-color: $dark;
      }

      &-inner {
        padding: 50px 40px;
        height: 100%;
        width: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__menu {
      flex-direction: column;

      &-item + &-item {
        margin-left: 0;
        margin-top: 15px;
      }

      &-link {
        font-size: 36px;
        color: $dark;
        text-shadow:
                -0   -1px 0   $lightGrey,
                0   -1px 0   $lightGrey,
                -0    1px 0   $lightGrey,
                0    1px 0   $lightGrey,
                -1px -0   0   $lightGrey,
                1px -0   0   $lightGrey,
                -1px  0   0   $lightGrey,
                1px  0   0   $lightGrey,
                -1px -1px 0   $lightGrey,
                1px -1px 0   $lightGrey,
                -1px  1px 0   $lightGrey,
                1px  1px 0   $lightGrey,
                -1px -1px 0   $lightGrey,
                1px -1px 0   $lightGrey,
                -1px  1px 0   $lightGrey,
                1px  1px 0   $lightGrey;
        transition: text-shadow .2s ease;

        &:hover {
          text-shadow:
                  -0   -1px 0   $white,
                  0   -1px 0   $white,
                  -0    1px 0   $white,
                  0    1px 0   $white,
                  -1px -0   0   $white,
                  1px -0   0   $white,
                  -1px  0   0   $white,
                  1px  0   0   $white,
                  -1px -1px 0   $white,
                  1px -1px 0   $white,
                  -1px  1px 0   $white,
                  1px  1px 0   $white,
                  -1px -1px 0   $white,
                  1px -1px 0   $white,
                  -1px  1px 0   $white,
                  1px  1px 0   $white;
        }

        &::before {
          display: none;
        }
      }
    }

    &__mobile-btn {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 31px;

      span {
        display: inline-block;
        height: 2px;
        width: 100%;
        background-color: $white;
        border-radius: 20px;
        transition: width .2s ease;

        &:nth-child(1) {
          width: 15px;
        }

        &:nth-child(3) {
          width: 22px;
        }
      }

      &:hover span:nth-child(1),
      &:hover span:nth-child(3) {
        width: 100%;
      }

      span + span {
        margin-top: 5px;
      }
    }
  }
}

@media (max-width: 950px) {
  .header {
    &__btn-wrap {
      margin-left: -12px;
    }

    &__btn._skew {
      width: 183px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 30px 0 27px;

    &__inner,
    &__menu {
      max-width: 668px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 650px) {
  .header {
    &__controls {
      display: none;
    }

    &__navbar-controls {
      display: flex;
      margin-top: 50px;
    }
  }
}

@media (max-width: 500px) {
  .header {
    padding: 15px 0 18px;
    height: 76px;

    &__logo {
      max-width: 112px;
      max-height: 43px;
    }

    &__navbar {
      height: calc(100vh - 76px);
      height: calc((var(--vh, 1vh) * 100) - 76px);
      top: 76px;

      &-inner {
        padding: 0 15px 20px;
      }
    }

    &__menu {
      margin: 0 0 50px;

      &-link {
        font-size: 20px;
      }
    }

    &__navbar-controls {
      margin-top: auto;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    &__phone-wrap,
    &__phone {
      width: 100%;
    }

    &__btn._skew,
    &__btn-wrap {
      width: 100%;
    }

    &__btn-wrap {
      margin: 6px 0 0;
      padding: 0 10px;
    }

    &__btn._skew {
      &::before {
        display: none;
      }
    }
  }
}