.products-grid {
  padding: 134px 0;

  &__title {
    margin-bottom: 53px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }

  &__item {
    max-width: none;
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    &._hidden {
      display: none;
    }
  }
}

@media (max-width: 1550px) {
  .products-grid{
    &__inner {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: 1230px) {
  .products-grid {
    &__inner {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 950px) {
  .products-grid {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .products-grid {
    padding: 44px 0;

    &__title {
      font-size: 42px;
      margin-bottom: 40px;
    }

    &__inner {
      gap: 24px 20px;
    }
  }
}

@media (max-width: 600px) {
  .products-grid {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 500px) {
  .products-grid {
    padding: 48px 0;

    &__title {
      font-size: 20px;
      margin-bottom: 30px;
    }

    &__inner {
      gap: 20px;
    }

    &__btn-wrap {
      margin-top: 38px;
    }
  }
}