<header class="header">
    <div class="container">
        <div class="header__inner">
            <button class="header__mobile-btn">
                <span></span><span></span><span></span>
            </button>
            <div class="header__info">
                <a href="#" class="logo header__logo">
                    <img src="./assets/img/content/logo.svg" alt="Magwai">
                </a>
                <div class="header__navbar">
                    <div class="header__navbar-inner">
                        <ul class="header__menu">
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link">
                                    УСЛУГИ
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link">
                                    АБОНЕМЕНТЫ
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link">
                                    ПОЧЕМУ МЫ
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link">
                                    ОБОРУДОВАНИЕ
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link">
                                    АКЦИИ
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link">
                                    FAQ
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link">
                                    КОНТАКТЫ
                                </a>
                            </li>
                        </ul>
                        <div class="header__navbar-controls">
                            <div class="header__phone-wrap">
                                <a href="tel:88005553535" class="header__phone"></a>
                            </div>
                            <div class="btn-wrap header__btn-wrap">
                                <button class="btn _skew btn-modal header__btn" data-target="modal-form">
                                    <span class="btn__text">Оставить заявку</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__controls">
                <div class="header__phone-wrap">
                    <a href="tel:88005553535" class="header__phone"></a>
                </div>
                <div class="btn-wrap header__btn-wrap">
                    <button class="btn _skew btn-modal header__btn" data-target="modal-form">
                        <span class="btn__text">Оставить заявку</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>