<div class="modal">
        <div class="modal__box">
            <div class="modal__body">
            </div>
            <button class="modal__close"></button>
        </div>
</div>

<div class="module modal-form">
    <h4 class="modal__title">
        Оставьте заявку
    </h4>
    <p class="modal__text">
        Оставьте свои данные, и мы свяжемся с вами. Спасибо, что выбрали нас!
    </p>
    <form class="form modal__form">
        <input type="text" name="name" class="input modal__input" placeholder="Имя" data-onlywords="true">
        <input type="tel" name="phone" class="input modal__input" placeholder="Телефон">
        <input type="email" name="email" class="input modal__input" placeholder="Почта">
        <textarea name="description" class="input textarea modal__input" placeholder="Ваш вопрос"></textarea>
        <button type="submit" class="btn modal__btn">
            Отправить
        </button>
    </form>
</div>

<div class="module modal-thanks">
    <h4 class="modal__title">
        Отправлено!
    </h4>
    <p class="modal__text">
        Ваша заявка отправлена. Мы свяжемся с вами в ближайшее время
    </p>
</div>