@@include('../parts/common/head.html', {
"title": "Magwai"
})

@@include('../parts/header.html')

<section class="main">
    <div class="container main__container">
        <div class="main__inner">
            <h1 class="title main__title">
                Полет Илона Маска
                и DOGIE COIN
            </h1>
            <p class="main__text">
                В прошлый четверг все офигели от полета DOGIE COIN на марс.
            </p>
            <div class="btn-wrap main__btn-wrap">
                <button class="btn _skew btn-modal main__btn" data-target="modal-form">
                    <span class="btn__text">Оставить заявку</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="products-grid">
    <div class="container">
        <h2 class="title products-grid__title">
            Карточки
        </h2>
        <div class="products-grid__inner">
        </div>
        <div class="btn-wrap products-grid__btn-wrap _hidden">
            <button class="btn _skew products-grid__btn">
                <span class="btn__text">
                    ЗАГРУЗИТЬ ЕЩЕ
                </span>
            </button>
        </div>
    </div>
</section>

@@include('../parts/common/foot.html')