.main {
  min-height: 600px;
  height: calc(100vh - 116px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../img/static/main-bg.jpg');
  border-radius: 60px 60px 0 0;
  padding: 96px 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 520px;
    background: linear-gradient(0deg, #131313 0%, rgba(19, 19, 19, 0.00) 100%);
  }

  &__container,
  &__inner {
    height: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
  }

  &__title {
    margin-bottom: 40px;
    max-width: 540px;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 40px;
    opacity: .79;
  }
}

@media (max-width: 768px) {
  .main {
    min-height: 907px;
    height: auto;
    padding: 76px 0;
    display: flex;

    &::before {
      height: 480px;
    }

    &__container,
    &__inner {
      min-height: 100%;
      height: auto;
    }

    &__inner {
      max-width: 485px;
    }

    &__title {
      max-width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .main {
    min-height: 495px;
    padding: 52px 0;
    border-radius: 30px 30px 0 0;

    &::before {
      height: 281px;
    }

    &__inner {
      max-width: 265px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__btn._skew {
      width: 201px;
      padding: 14px;

      &::before {
        width: 4px;
        right: -9px;
      }
    }
  }
}