@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/woff2/Montserrat-Regular.woff2") format("woff2"),
  url("../../fonts/woff/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/woff2/Montserrat-Bold.woff2") format("woff2"),
  url("../../fonts/woff/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../../fonts/woff2/Mulish-SemiBold.woff2") format("woff2"),
  url("../../fonts/woff/Mulish-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../../fonts/woff2/Mulish-Bold.woff2") format("woff2"),
  url("../../fonts/woff/Mulish-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
