*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

input,
textarea {
  outline: none;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Montserrat';
  background-color: $dark;

  &._no-scroll {
    overflow: hidden;
  }
}

body,
a,
button,
input {
  color: $white;
  font-size: 14px;
  line-height: 150%;
}

.container {
  max-width: 1800px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.logo {
  display: flex;
  max-width: 156px;
  max-height: 60px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.title {
  font-size: 42px;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.module {
  display: none;
}

@media (max-width: 1460px) {
  body._no-scroll-menu {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 38px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 15px;
  }

  .title {
    font-size: 20px;
  }
}