.btn {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 21px;
  background-color: $lightGold;
  transition: background-color .3s ease, color .3s ease;

  &:hover,
  &:disabled {
    background-color: #91743b;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
  }

  &-wrap {
    padding: 0 19px 0 10px;
  }

  &._skew {
    position: relative;
    transform: skewX(-17deg);
    width: 264px;
    max-width: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -10px;
      height: 100%;
      width: 6px;
      background-color: $white;
      pointer-events: none;
      transition: right .3s ease, width .3s ease;
    }

    &:hover,
    &:disabled {
      color: $dark;
      background-color: $lightGold;

      &::before {
        right: 0;
        width: 100%;
      }
    }
  }

  &__text {
    display: inline-block;
    transform: skewX(17deg);
  }

  &._black {
    background-color: $darkGrey;

    &:hover {
      background-color: #262626;
    }
  }


}