.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input {
  width: 100%;
  border: 1px solid $white;
  background-color: $white;
  font-size: 16px;
  padding: 15px 20px;
  color: $dark;
  transition: border .2s ease;

  &::placeholder {
    color: $grey;
  }

  &._error {
    border-color: red;
  }
}

.textarea {
  resize: none;
  height: 120px;
}