.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgba(#000, .7);
  display: none;
  padding: 30px 0;
  overflow: auto;
  opacity: 0;
  transition: opacity .3s ease;

  &._showed {
    display: flex;
  }

  &._show {
    opacity: 1;
  }

  &__box {
    max-width: 500px;
    width: 100%;
    background-color: #252525;
    padding: 40px 30px;
    position: relative;
    margin: auto;
  }

  &__body {
    transition: opacity .2s ease;

    &._hide {
      opacity: 0;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 2px;
      height: 26px;
      background-color: $white;
      transition: opacity .2s ease;
    }

    &:hover::before,
    &:hover::after {
      opacity: .8;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &__title {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  &__text {
    text-align: center;
    font-size: 16px;
  }

  &__form {
    margin-top: 30px;
  }

  &__input + &__input {
    margin-top: 15px;
  }

  &__btn {
    width: 100%;
    margin-top: 30px;
  }
}