.product-card {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__img {
    display: flex;
    width: 100%;
    height: 185px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    background-color: $white;
    padding: 25px 23px 30px;
    color: $darkGrey;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__category {
    font-family: 'Mulish';
    font-size: 14px;
    font-weight: 700;
    line-height: 185%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 52px;
  }

  &__text {
    color: $grey;
    line-height: 171%;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__foot {
    margin-top: auto;
  }

  &__posted {
    margin-bottom: 25px;

    &,
    a {
      color: $grey;
      font-size: 12px;
      line-height: 200%;
    }

    a {
      font-weight: 700;
      transition: color .2s ease;

      &:hover {
        color: $darkGrey;
      }
    }
  }
  
  &__btn {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-transform: none;
    width: 100%;
    padding: 16px;
  }
}

